<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%- #<h2>User profile</h2> %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%- #<%= @user.email %>
</p>

<p>
  <strong>Reviews:</strong>
  <%-# if @user.reviews.present? %>
    <%-# @user.reviews.present %>
  <%-# else %>
    You have no reviews yet. <p><br>What are you waiting for? Start writing some reviews!</p>
  <%-# end %>
</p>

