<% provide(:title, "Home") %>
<p id="notice"><%= notice %></p>

<%- # IF LOGGED IN SHOW PROFILE/CREATE NEW & REVIEWS %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    <div class="col-md-1">
      
    </div>
    
    <%- # THE REVIEWS ON THE RIGHT SIDE %>
    <div class="col-md-8">
      <%-#<%= render 'reviews/review' %>
      <h3>Reviews</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>

  <div class="center">
  
   
    <%= link_to image_tag("CourseBuddies.png", 
    alt: "CourseBuddies Front img"), '#' %>
    <br>
    <br>
    
    <div class="row">
      <div class="col-md-6">
        <h3>Find all the information about each course from previous 
        students! Select the best course for you at 
        <b> Kyoto University </b> today!</h3>
      </div>
      <div class="col-md-6">
        <br>
       <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    <br>
    
    </div>
  </div>
  

  

<% end %>